.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/runConfigurations/Tomcat.xml
.idea/modules.xml

out
tests

# Compiled source #
###################
*.class

# Packages #
*.zip

# Logs and databases #
*.log

# Directories #
bin/
dist/
temp/
_tmp/
.classpath
.project

