#perfmon {
}

#perfmon td {
  vertical-align: top;
  padding: 0;
}

#perfmon .rightBar {
  padding: 2px 0 0 20px;
}

#legend {
  background: #f5f5f5;
  padding: 5px;
}

#legendHint {
  color: #888888;
}

#jmeterLogDiv {
  margin: 20px 0 0 12px;
}

#jmeterLogMarker {
  margin-bottom: 3px;
}

#jmeterLogContainerOuter {
  margin-top: 3px;
  max-height: 400px;
  height: auto;
  width: auto;
  overflow: hidden;
}
#jmeterLogContainer {
  max-height: inherit;
  overflow: auto;
}

#jmeterTimePeriod {
}

#jmeterLogContainer table td {
  padding: 0 5px;
  border-bottom: 1px solid #f5f5f5;
}

#jmeterLogTitle th {
  padding: 0 5px;
  background-color: #f5f5f5;
}

#filters {
  padding: 20px 0;
  vertical-align: top;
  color: #888888;
}

#filterTitle {
  padding-top: 25px;
}