#jmeterPerfmon {
  width: 1300px;
}

#jmeterPerfmon td {
  vertical-align: top;
  padding: 0;
}

#jmeterPerfmon .rightBar {
  padding: 2px 0 0 20px;
}

.chart {
  float: left;
  margin: 0 5px;
  height: 200px !important;
  width: 950px;
}

.chart_title {
  width: 100%;
  text-align: center;
  padding-left: 5px;

}
.legend {
  float: left;
  padding: 5px !important;
  background: #f5f5f5;
  width: 320px;
  overflow-y: scroll;
  max-height: 200px;
}

.legendHint {
  color: #888888;
  padding: 5px !important;
}

.legendLabel {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

#jmeterPerfmonLog {
}

#jmeterLogMarker {
  margin-bottom: 3px;
}

#jmeterLogContainerOuter {
  max-height: 1000px;
  max-width: 600;
  height: auto;
  width: auto;
  overflow: hidden;
}

#jmeterLogContainer {
  max-height: inherit;
  overflow: auto;
}

#jmeterTimePeriod {
}

#jmeterLogContainer table td {
  padding: 0 5px;
  border-bottom: 1px solid #f5f5f5;
}

#jmeterLogTitle th {
  padding: 0 5px;
  background-color: #f5f5f5;
}

#filters {
  padding: 20px 0;
  vertical-align: top;
  color: #888888;
}

#filterTitle {
  padding-top: 25px;
}

.expandAll {
  float: right;
  display: block;
  cursor: pointer;
}

.hideWarmUp {
  cursor: pointer;
}

.collapse {
  margin-left: 10px;
  cursor: pointer;
  /*background-image: url("../img/blockExpanded.png");*/
  /*background-repeat: no-repeat;*/
  /*color: #FFFFFF;*/
  /*position: relative;*/
  /*display: inline-block;*/
}