.chartPerfTestContainer {
  padding:  10px 10px;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;    box-shadow:  0 0 10px rgba(0, 0, 0, .05) inset;
}
.test-collapse {
  cursor: pointer;
}
.chart-content {
  display: none;
}
#perfTestFailedHeader {
  background: none no-repeat scroll 5px 5px / 16px 16px #EBEDEF;
  color: #ED2C10;
  vertical-align: bottom;
  padding: 4px 4px 4px 25px;
  font-weight: bold;
  background-image: url("img/buildStates/buildFailed.png");
}
.test-collapse-selected {
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}
.test-collapse-selected td {
  border-bottom: none !important;
  background-color: #f1f1f1;
}
.test-collapse-unselected td {
  border-bottom: 1px solid #CCCCCC;
  background-image: inherit;
}